gradle-wrapper.jar
/.gradle
/captures/
/gradlew
/gradlew.bat
/local.properties
GeneratedPluginRegistrant.java
.cxx/
android/key.properties
# Flutter
build/
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
.melody/
.fvm/
.idea/
android/.gradle/
ios/Pods/
pubspec.lock
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/









# Remember to never publicly share your keystore.
# See https://flutter.dev/to/reference-keystore
key.properties
**/*.keystore
**/*.jks
